/* Add custom styles here for this page */
.card{
    width: 600px;
    height: 700px;
    background-color: var(--md-sys-color-primary-container);
    border-radius: 50px;
    transition: background-color 0.3s;
    overflow: hidden;
    margin: auto;
}

.card_header{
    position: relative;
    width:100%;
    height: 300px;
    box-shadow: 0 10px 8px 0 hsl(0deg 0% 0% / 0.3);
    overflow: hidden;
}

#question_img{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    opacity: 45%;
    transition: opacity 0.3s;
    z-index: 0;
}

h2{
    color: var(--md-sys-color-on-primary-container);
    transition: color 0.3s;
    margin-top: 130px;
    margin-left: 25px;
    font-size: 25px;
    z-index: 4;
    position: relative;
}
h3{
    margin: 25px;
    z-index: 4;
    position: relative;
}


article ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
article ul li{
    margin: 0;
    padding: 0;
    cursor: pointer;
}
article ul li p{
    padding: 25px 25px;
    position: absolute;
}
article ul li img{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    opacity: 15%;
    transition: opacity 0.3s;
    z-index: 0;
}
article ul li img:hover{
    opacity: 65%;
}

.answer_bar{
    width: 100%;
    height: 100px;
    box-shadow: 0 10px 8px 0 hsl(0deg 0% 0% / 0.3);
    overflow: hidden;
    position: relative;
}

.info_row{
    display: flex;
    width: 100%;
    justify-content:space-between;
}